<div style="display: inline-block">
	<table>
		<tbody>
			<tr>
				<td>Shipping Rates：</td>
				<td class="jt-freight-num">
					<span>Rp </span>
					<span id="yfmoney">0</span>
				</td>
			</tr>
			<tr id="bjmoney-container">
				<td>Insurance：</td>
				<td class="jt-freight-num">
					<span>Rp </span><span id="bjmoney">0</span>
				</td>
			</tr>
			<tr id="max-ins-money-box">
				<td colspan="2">
					<div style="font-size: 11px; color: #ff0000" id="max-ins-money"></div>
				</td>
			</tr>
			<tr style="font-size: 18px; font-weight: 600">
				<td>Total Fee：</td>
				<td class="jt-freight-num">
					<span>Rp </span><span id="zmoney">0</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
